<h2 class="mb-4">Inbox</h2>

<ul class="list-group">
  <li class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title">Hello</h4>
        <div class="ml-5">
          <img src="/static/pictures/default.png" class="rounded-circle mr-2" style="width:32px; height: 32px; object-fit: cover;">
          <span><b>John Doe</b>, Sent on February 19, 2016</span>
        </div>
      </div>
      <p class="card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi dolores nulla non tenetur cum. Explicabo voluptas molestiae libero iure, omnis necessitatibus sapiente quidem quibusdam in, quam asperiores obcaecati quod quo?
      </p>
      <a href="" class="card-link stretched-link">View Message</a>
    </div>
  </li>
</ul>