<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Planned trips</h2>
  <a href="{{ url_for('trips.create') }}" class="btn btn-primary">Create a new Trip</a>
</div>

{% if trips.items %}

<ul class="list-group">
  {% for trip in trips.items %}
  <li class="card flex-row mb-4 align-items-stretch">
    <div class="card-header border-0 custom-card-image"
      style="width: 30%; background-image: url('{{ url_for('static', filename='pictures/'+trip.banner) }}')">
    </div>
    <div class="card-body" style="width: 70%;">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title">{{ trip.title }}</h4>
        <div class="ml-5">
          <img src="{{ url_for('static', filename='pictures/'+trip.skipper.profile_pic) }}" class="rounded-circle mr-2"
            style="width:32px; height: 32px; object-fit: cover;">
          <span><b>{{ trip.skipper.username }}</b>, Created on {{ moment(trip.created).format("DD MMM, YYYY") }}</span>
        </div>
      </div>
      <p class="card-text" max-length="300">
        {{ trip.description }}
      </p>
      <a href="{{ url_for('trips.trip_page', uid=trip.uid)}}" class="card-link stretched-link">More Details</a>
      <button class="card-link btn btn-link p-0" data-toggle="modal" data-target="#destinations-modal"
      style="margin-bottom: 3px; position: relative; z-index: 10;" onclick="loadMap('{{ trip.id }}')">View Destinations</button>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="modal fade" id="destinations-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container" style="height: 50vh;" id="map"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  const trips = JSON.parse(`{{ trip_ids | tojson }}`);
</script>
<script src="{{ url_for('static', filename='js/show_trips.js') }}"></script>

{{ render_pagination(trips, uid=user.uid, tab="trips") }}

{% elif user == current_user %}
<i>You haven't created any messages yet. Create your first trip by clicking on the button "Create a new Trip".</i>
{% else %}
<i>This user hasn't created any messages yet.</i>
{% endif %}