<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Planned trips</h2>
  <a href="{{ url_for('trips.create') }}" class="btn btn-primary">Create a new Trip</a>
</div>

{% if trips.items %}

<ul class="list-group">
  {% for trip in trips.items %}
  <li class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{ trip.title }}</h4>
      <p class="card-text" max-length="400">
        {{ trip.description }}
      </p>
      <a href="{{ url_for('trips.trip_page', uid=trip.uid)}}" class="card-link stretched-link">More Details</a>
    </div>
  </li>
  {% endfor %}
</ul>

{{ render_pagination(trips, uid=user.uid, tab="trips") }}

{% elif user == current_user %}
<i>You haven't created any messages yet. Create your first trip by clicking on the button "Create a new Trip".</i>
{% else %}
<i>This user hasn't created any messages yet.</i>
{% endif %}