{% extends "layout/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{{ alerts(form) }}

<form class="form-horizontal" method="POST" action="">

  <div class="form-group">
    <h2>Sign Up</h2>
  </div>

  {{ form.csrf_token() }}

  <div class="form-group">
    <label class="control-label" for="">{{ form.username.label }}:</label>
    <div>{{ form.username(class="form-control") }}</div>
  </div>

  <div class="form-group">
    <label class="control-label" for="">{{ form.email.label }}:</label>
    <div>{{ form.email(class="form-control") }}</div>
  </div>

  <div class="form-group">
    <label class="control-label" for="">{{ form.first_name.label }}:</label>
    <div>{{ form.first_name(class="form-control") }}</div>
  </div>

  <div class="form-group">
    <label class="control-label" for="">{{ form.last_name.label }}:</label>
    <div>{{ form.last_name(class="form-control") }}</div>
  </div>

  <div class="form-group">
    <label class="control-label" for=""> {{ form.password.label }}:</label>
    <div>{{ form.password(class="form-control") }}</div>
  </div>

  <div class="form-group">
    <label class="control-label" for=""> {{ form.r_password.label }}:</label>
    <div>{{ form.r_password(class="form-control") }}</div>
  </div>

  <div class="form-group">
    <div>{{ form.submit(class="btn btn-primary")}}</div>
  </div>

  <p class="mt-4">Already have an account? <a href="{{ url_for('auth.login') }}">Log in here.</a></p>
</form>
{% endblock %}