<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-light">
  <div class="container">
    <div class="card my-10">
      <div class="card-body">
        <h1>Welcome to BlaBlaBoats</h1>
        <hr>
        <p>Verify your email address so we know it's really you</p>
    
        <a href="CONFIRM_LINK" class="btn btn-primary mt-2 mb-3">Verify email address</a>
    
        <p>Have any questions? <a href="CONTACT_LINK">Contact us</a>.</p>
      </div>
    </div>
  </div>
  
</body>
</html>