{% extends "layout/base.html" %}

{% block title %}Donate{% endblock %}

{% block banner %}
<div class="jumbotron jumbotron-fluid" id="donate-banner" style="margin-bottom: 0;">
  <div class="container">
    <h1 class="display-2">Donate to BlaBlaCar</h1>      
    <h1 class="font-italic">Help us develop <b>free & open</b> software.</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<h1>Donate</h1>

<div class="jumbotron mt-4" style="padding: 2rem 1.5rem">
  <form class="container" action="" method="post">
    <h2>Select an amount (in CHF): </h2>

    {{ form.amount(type="hidden", value="2") }}
    {{ form.csrf_token() }}

    <div class="d-flex mt-4 form.group" style="gap:10px">
      {% for btn in form.amount_values %}
      <button type="button" class="btn btn{{ '-' if btn.first else '-outline-'}}info flex-fill" value="{{ btn.value }}" onclick="select_value(this)">
        {{ btn.text }}
      </button>
      {% endfor %}

      <input type="text" class="btn btn-outline-info flex-fill" placeholder="Other..." oninput="select_value(this)">
    </div>

    <div class="form-group mt-4 mb-2">
      <div>{{ form.submit(class="btn btn-info btn-block")}}</div>
    </div>
  </form>
</div>

<p class="mb-4">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, dolorum sequi rem nihil perspiciatis aspernatur iste
  beatae nulla maxime quisquam laborum quae aut veritatis? Ipsum quo pariatur esse distinctio nihil provident sapiente
  officiis aut nisi recusandae consequuntur optio corporis, blanditiis voluptas rem reprehenderit veniam earum facilis
  velit expedita hic, at sint. Adipisci, debitis quidem soluta unde tempora placeat quasi ipsam cupiditate maiores
  necessitatibus dolorum, sit quisquam explicabo commodi, totam esse suscipit. Quae aliquam, at odit dolore culpa esse
  sit nam temporibus explicabo illo hic dolorem sunt nulla quasi adipisci id ipsum officia animi aperiam ipsam
  laboriosam. Quam hic ea, vitae nostrum itaque soluta. Neque officiis maxime culpa eum maiores incidunt ab provident
  quis, impedit tempore. Consequuntur necessitatibus dolorum numquam consectetur, quos voluptatibus cupiditate fugit.
  Cumque nisi obcaecati quidem ratione incidunt, repellendus dolores placeat doloribus aliquid accusantium corporis
  possimus distinctio eveniet laborum, id neque, velit ad esse porro temporibus illo labore adipisci quod aspernatur.
  Esse aperiam harum eligendi impedit officiis dolore quos provident numquam dolorem eum? Quos possimus, repellat iste
  aut dolores, in explicabo sed impedit unde, vero rem saepe accusantium fuga soluta ipsum vitae illo quia qui
  voluptate! Accusantium iste officiis, atque delectus id odio recusandae mollitia quo beatae exercitationem!
</p>

{% endblock %}