#home-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('/static/banner.jpeg');
}

#donate-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('/static/donate.png');
}

.text-toggle[aria-expanded=false] .text-expanded {
  display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
  display: none;
}

.custom-control .custom-nav-link {
  color: rgba(255, 255, 255, .5);
}
.custom-control .custom-nav-link:hover {
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
}

a.disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.custom-card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px);
}