#home-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('/static/banner.jpeg');
}

#donate-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('/static/donate.png');
}

.message-card {
  color: #212529;
}

.message-card:hover {
  color: #212529;
  background-color: #e9ecef;
  text-decoration: none;
}

.text-toggle[aria-expanded=false] .text-expanded {
  display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
  display: none;
}

.custom-control .custom-nav-link {
  color: rgba(255, 255, 255, .5);
}
.custom-control .custom-nav-link:hover {
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
}