{% if i_messages.count() %}
<ul class="list-group">
  {% for message in i_messages.all() %}
  <li class="{{ 'jumbotron' if not message.read else '' }} p-0 card mb-3">
    <a href="{{ url_for('messages.msg', uid=message.uid) }}" class="card-body message-card">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title">{{ message.subject }}</h4>
        <div class="ml-5">
          <img src="/static/pictures/default.png" class="rounded-circle mr-2"
            style="width:32px; height: 32px; object-fit: cover;">
          <span><b>{{ message.sender.full_name }}</b>, Sent on {{ moment(message.created).format("DD MMM, YYYY")
            }}</span>
        </div>
      </div>
      <p class="card-text" max-length="200">
        {{ message.text }}
      </p>
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<i>You haven't received any messages yet.</i>
{% endif %}