{% extends "layout/base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}

{% if form.validate() %}
<h2 class="mb-4">Results for: <i>{{ form.q.data }}</i> <a href="{{ url_for('private.inbox') }}" class="small ml-3">(back to all messages)</a></h2>
{% else %}
<h2 class="mb-4">Messages</h2>
{% endif %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#inbox">Inbox ({{ i_messages.total }})</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#sent">Sent ({{ s_messages.total }})</a>
  </li>
  <li class="nav-item flex-grow-1">
    <form class="float-right" action="" method="get">
      <div class="input-group">
        {{ form.q(class="form-control", placeholder=form.q.label.text, autocomplete="off") }}
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit"><i class="lni lni-search-alt font-weight-bolder"></i></button>
        </div>
      </div>
  </form>
</li>
</ul>

<br>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active p-0" id="inbox">
    {% include "private/inbox_list.html" %}
  </div>
  <div class="tab-pane container fade p-0" id="sent">
    {% include "private/sent_list.html" %}
  </div>

</div>
{% endblock %}