{% extends "layout/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% for field, errors in form.errors.items() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ errors }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">

  <div class="form-group">
    <h2>{{ title }}</h2>
  </div>

  {{ form.csrf_token() }}

  <div class="form-group">
    <label class="control-label" for="">{{ form.title.label }}</label>
    <div>{{ form.title(class="form-control") }}</div>
  </div>

  <div>
    <h3 data-toggle="collapse" data-target="#desc">
      <i class="lni lni-circle-plus" style="display:none"></i>
      <i class="lni lni-circle-minus"></i>
      {{ form.description.label.text }}
    </h3>
    <div class="collapse show m-3 form-group" id="desc">
      <div>{{ form.description(class="form-control", rows="8") }}</div>
    </div>
  </div>
  <hr class="m-2">

  <div>
    <h3 data-toggle="collapse" data-target="#dest">
      <i class="lni lni-circle-plus"></i>
      <i class="lni lni-circle-minus" style="display:none"></i>
      {{ form.dest.label.text }}
    </h3>
    <div class="collapse m-3 form-group destinations" id="dest">
      {% for i, d in enumerate(form.dest) %}
      <div class="dest-{{ i }} mb-4">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ d.place.label.text }}</span>
          </div>
          {{ d.place(class="form-control") }}
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ d.arr_date.label.text }}</span>
          </div>
          {{ d.arr_date(class="form-control", disabled=not i) }}
          <div class="input-group-prepend">
            <span class="input-group-text">{{ d.dep_date.label.text }}</span>
          </div>
          {{ d.dep_date(class="form-control", disabled=i == len(form.dest)-1 ) }}
          {% if i < len(form.dest) - 1 %}
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
              Actions
            </button>
            <div class="dropdown-menu">
              {% if i %}
              <button class="dropdown-item" type="button" onclick="delete_stopover(this)">Delete this Stopover</button>
              {% endif %}
              <button class="dropdown-item" type="button" onclick="add_stopover(this)">Add Stopover below</button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <hr class="m-2">

  <div>
    <h3 data-toggle="collapse" data-target="#info">
      <i class="lni lni-circle-plus"></i>
      <i class="lni lni-circle-minus" style="display:none"></i>
      More Information
    </h3>
    <div class="collapse m-3" id="info">
      <div class="custom-file mt-2 mb-3">
        {{ form.banner(class="custom-file-input", id="file-banner") }}
        {{ form.banner.label(class="custom-file-label", for="file-banner") }}
      </div>

      <div class="form-group">
        <label class="control-label" for="">{{ form.boat_type.label }}</label>
        <div>{{ form.boat_type(class="form-control") }}</div>
      </div>
    
      <div class="form-group">
        <label class="control-label" for="">{{ form.boat_model.label }}</label>
        <div>{{ form.boat_model(class="form-control") }}</div>
      </div>
    
      <div class="form-group">
        <label class="control-label" for="">{{ form.sailing_mode.label }}</label>
        <div>{{ form.sailing_mode(class="form-control") }}</div>
      </div>
    
      <div class="form-group">
        <label class="control-label" for="">{{ form.travel_expenses.label }}</label>
        <div>{{ form.travel_expenses(class="form-control") }}</div>
      </div>
    
      <div class="form-group">
        <label class="control-label" for="">{{ form.qualif_level.label }}</label>
        <div>{{ form.qualif_level(class="form-control") }}</div>
      </div>
    </div>
  </div>
  <hr class="m-2">

  <div>
    <h3 data-toggle="collapse" data-target="#imgs">
      <i class="lni lni-circle-plus"></i>
      <i class="lni lni-circle-minus" style="display:none"></i>
      Images
    </h3>
    <div class="collapse m-3" id="imgs">
      {% if title == "Create new Trip" %}
      <p class="font-italic font-weight-bold">You can only add images, when the trip is created.</p>
      {% else %}
      <a href="{{ url_for('trips.pictures', uid=trip.uid) }}" class="btn btn-primary" target="_blank">Add & Remove Images</a>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div>{{ form.submit(class="btn btn-primary mt-4")}}</div>
  </div>
</form>

<script>
  $(window).bind('beforeunload', function() {
    return 'Do you really want to leave this page?';
  });
  $("form").bind('submit', function () {
    $(window).unbind('beforeunload');
  });
</script>
{% endblock %}